<!DOCTYPE html>
<html>
    <head>
        <title>Activity Feed List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
        {% if error%}
          <h3>{{error}}</h3>
        {% else %}  
          <h1>Feeds</h1>
          <form method = "POST" >
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleFormControlSelect1">Select feed type:-</label>
                <select name="dropdown" class="form-control" id="exampleFormControlSelect1" onChange="this.form.submit();">
                  <option value="1" {% if option == '1' %}selected{% endif %}>My Post</option>
                  <option value="2" {% if option == '2' %}selected{% endif %}>My post and Following</option>
                  <option value="3" {% if option == '3' %}selected{% endif %}>All post</option>
                </select>
              </div>
            </form>
          </div>
          {% if feeds %}
          <div class="row mt-4">
              {% for feed in feeds %}
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{feed.user.username}}</h5>
                    <p class="card-text">{{ feed.content }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endif %}
        {% endif %}
    </body>
</html>